<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<title>CalcVox - Advisors</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Engineering Advisory Committie</h1>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Timothy Lee Scherr: Expert Advisor</h2>
					<p>Associate Teaching Professor in Embedded Systems Engineering</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="Timothy Lee Scherr" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Abhinav Vemulapalli: Guiding Support</h2>
					<p>Georgia Tech</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="Abhinav Vemulapalli" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Ryan Kispert: Outside Opinion</h2>
					<p>Grandview High School</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="Ryan Kispert" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Brady Shoemaker: Solidworks Support</h2>
					<p>Grandview High School</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="Brady Shoemaker" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Ty Gillespie: Project Support</h2>
					<p>Project Partner</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="Ty Gillespie" />
				</div>
			</div>
			
		</main>

		{% include "templates/footer.html" %}
	</body>
</html>
