<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="description" content="Advisory Committee for the CalcVox project">
		{% include "templates/meta.html" %}
		<title>CalcVox - Advisors</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>CalcVox Advisory Committee</h1>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Martin Fink: Expert Advisor</h2>
					<p>Former CTO of HPE and WD and Board Member of PlatformIO</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/fink.jpeg" alt="Martin Fink" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Steven Clower: Expert Advisor</h2>
					<p>Blind software developer working at Desmos.</p>
				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="steven Clower" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Ryan Kispert: Guiding Support</h2>
					<p>Blarg! Systems, Grandview High School</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/nophoto.jpg" alt="Ryan Kispert" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Louis Harshman: Modeling and 3D Printing Support</h2>
					<p>Wavespeak, Grandview High School</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/Harshman.jpg" alt="Louis Harshman" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Ty Gillespie: Project Support</h2>
					<p>Project Partner</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/ty.jpg" alt="Ty Gillespie" />
				</div>
			</div>
			<div class="advisorRow">
				<div class="advisorText">
					<h2>Grant Yoder: Project Support</h2>
					<p>Project Partner</p>

				</div>
				<div class="advisorPhoto">
					<img src="assets/yoder.jpg" alt="Grant Yoder" />
				</div>
			</div>
			
		</main>

		{% include "templates/footer.html" %}
	</body>
</html>
