<!DOCTYPE html>
<html llang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="description" content="Resources used for the CalcVox project">
		{% include "templates/meta.html" %}
		<Title>Bibliography</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Bibliography</h1>
			<p><a href="https://docs.google.com/document/d/e/2PACX-1vRJlxwnblqNfGsrULrDKYGwrqgM_ZHhEMNAmJo30us7eQqhMrJ1fHP6FC0OrdWuTheM3DG0JqU_ksye/pub">Link to Bibliography</a></p>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vRJlxwnblqNfGsrULrDKYGwrqgM_ZHhEMNAmJo30us7eQqhMrJ1fHP6FC0OrdWuTheM3DG0JqU_ksye/pub?embedded=true"></iframe>
		</main>
		{% include "templates/footer.html" %}
	</body>
</html>
