<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<title>CalcVox - Goals</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Week 1</h1>
			<h2>Hardware Goals</h2>
			<ul>
				<li>Test to ensure ePulse Feather ESP32 modules work by end of Monday</li>
				<li>Research audio out on ESP32 using Arduino Audio Tools by Wednesday</li>
				<li>Get functioning audio working by end of Friday</li>
			</ul>
			<h2>Software Goals.</h2>
			<ul>
				<li>Install and configure the PlatformIO CLI, as well as CMake and a few other C++ build tools.</li>
				<li>Initialize the project.</li>
				<li>Bootstrap the GitHub repository.</li>
			</ul>
		</main>
		
		{% include "templates/footer.html" %}
	</body>
</html>
