<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<title>CalcVox - Goals</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Week 3</h1>
			<h2>Hardware Goals</h2>
			<ul>
				<li>Test dedicated audio hardware and ensure stereo output by end of Monday</li>
				<li>Begin planning button layout in google sheets and confirm with Ty by end of Wednesday</li>
				<li>Begin KiCAD tutorial and start PCB design by end of Friday</li>
			</ul>
			<h1>Week 2</h1>
			<h2>Hardware Goals</h2>
			<ul>
				<li>Ensure prototype can use matrix input and audio output by end of Tuesday. Completed</li>
				<li>Begin researching external audio hardware to be used with Espeak. Completed</li>
			</ul>
			<h2>Software goals</h2>
			<ul>
				<li>Fix any build errors with submodules and make the build scripts platform-agnostic by the end of Tuesday.</li>
				<li>Begin writing speech handler class by the end of THursday.</li>
			</ul>
			<br />
			<h1>Week 1</h1>
			<h2>Hardware Goals</h2>
			<ul>
				<li>Test to ensure ePulse Feather ESP32 modules work by end of Monday. Completed</li>
				<li>Research audio out on ESP32 using Arduino Audio Tools by Wednesday. Completed</li>
				<li>Get functioning audio working by end of Friday. Completed</li>
			</ul>
			<h2>Software Goals</h2>
			<ul>
				<li>Install and configure the PlatformIO CLI, as well as CMake and a few other C++ build tools.</li>
				<li>Initialize the project.</li>
				<li>Bootstrap the GitHub repository.</li>
			</ul>
		</main>
		
		{% include "templates/footer.html" %}
	</body>
</html>
