<!DOCTYPE html>
<html llang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="description" content="CalcVox is a brand new talking calculator designed from the ground up for visually impaired students">
		{% include "templates/meta.html" %}
		<Title>CalcVox</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Welcome</h1>
			<h2><a href="journals.html">New in April: Journal V has been uploaded</a></h2>
			<h2><a href="videos.html">Electronics Explained Video Uploaded</a></h2>
			<h2>About us</h2>
			<p>Here at CalcVox, we want to even the playing field for blind students in mathematical subjects. To do this, we're building a brand new talking calculator, unlike anything the blind community has ever seen before.</p>
			<h2>Key features</h2>
			<ul>
				<li>Uses text-to-speech, making sure there's no string or number that the user can't read, and also making the output way less choppy.</li>
				<li>Built with extensebility in mind, allowing you to replace any of the components at will.</li>
				<li>distinct feeling buttons, allowing the user to just do math, not have to memorize the buttons.</li>
				<li>Runs entirely open source, custom built software.</li>
				<li>Plans to support high-level math concepts (up to and including graphing) entirely through 3D audio.</li>
				<li>And much, much more.</li>
			</ul>
			<h2>Initial Project Proposals</h2>
			<p><a href="journals/grant-initial-proposal.pdf">Hardware and Design</a></p>
			<p><a href="journals/ty-initial-proposal.pdf">Software and Programming</a></p>
		</main>
		{% include "templates/footer.html" %}
	</body>
</html>
