<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="description" content="Journals and progress reports for the CalcVox project">
		{% include "templates/meta.html" %}
		<title>CalcVox - Journals and Research Papers</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Journals</h1>
			<h2>Journal II: Weeks 5-7</h2>
			<h3><a href="journals/Journal2Ty.pdf">Software</a></h3>
			<iframe src="journals/Journal2Ty.pdf"  type="application/pdf"></iframe>
			<br / >
			<h2>Journal I: Weeks 1-4</h2>
			<h3><a href="https://docs.google.com/document/d/e/2PACX-1vRFx8sbPAWUc5qZVaN8cuii8neosK_MyTGqQMpfvBR5TMdok5DRFd4VMXA4kf_AOPgyRu_fVzi1q0pT/pub">Hardware</a></h3>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vRFx8sbPAWUc5qZVaN8cuii8neosK_MyTGqQMpfvBR5TMdok5DRFd4VMXA4kf_AOPgyRu_fVzi1q0pT/pub?embedded=true"></iframe>
			<h3><a href="journals/Journal1Ty.pdf">Software</a></h3>
			<iframe src="journals/Journal1Ty.pdf"  type="application/pdf"></iframe>
			<br />
			<h2>Initial Project Proposals</h2>
			<ul>
				<li><a href="journals/grant-initial-proposal.pdf">Grant's initial Proposal: Hardware and Engineering</a></li>
				<li><a href="journals/ty-initial-proposal.pdf">Ty's initial Proposal: Software and Programming</a></li>
			</ul>
		</main>

		{% include "templates/footer.html" %}
	</body>
</html>
