<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<title>CalcVox - Journals and Research Papers</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Journals</h1>
			<h2>Initial Project Proposals</h2>
			<ul>
				<li><a href="journals/grant-initial-proposal.pdf">Grant's initial Proposal: Hardware and Engineering</a></li>
				<li><a href="journals/ty-initial-proposal.pdf">Ty's initial Proposal: Software and Programming</a></li>
		</main>

		{% include "templates/footer.html" %}
	</body>
</html>
