<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="description" content="Journals and progress reports for the CalcVox project">
		{% include "templates/meta.html" %}
		<title>CalcVox - Journals and Research Papers</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Journals</h1>
			<h2>Journal V: Weeks 15-18</h2>
			<h3><a href="journals/Journal5Ty.pdf">Software</a></h3>
			<iframe src="journals/Journal5Ty.pdf"  type="application/pdf"></iframe>
			<h3><a href="https://docs.google.com/document/d/e/2PACX-1vRdC638NKoqvJbIlXLqG6L7m8xVjsYnrjOyrQfpjMCU0ckgHah4kIA3mP3bqYVzKdpP5POw90Ibl8Lt/pub">Hardware</a></h3>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vRdC638NKoqvJbIlXLqG6L7m8xVjsYnrjOyrQfpjMCU0ckgHah4kIA3mP3bqYVzKdpP5POw90Ibl8Lt/pub?embedded=true"></iframe>
			<h2>Journal IV: Weeks 11-14</h2>
			<h3><a href="journals/journal4Ty.pdf">Software</a></h3>
			<iframe src="journals/journal4Ty.pdf"  type="application/pdf"></iframe>
			<h3><a href="https://docs.google.com/document/d/e/2PACX-1vQq-egFC8-XkIHoZmE1uR24JyH7v2YreDAjEd_ZNFBIboriWwFGLsiyPvDW6VMF4BjFDnT0j9SUEMP1/pub">Hardware</a></h3>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vQq-egFC8-XkIHoZmE1uR24JyH7v2YreDAjEd_ZNFBIboriWwFGLsiyPvDW6VMF4BjFDnT0j9SUEMP1/pub?embedded=true"></iframe>
			<br />
			<h2>Journal III: Weeks 8-10</h2>
			<h3><a href="journals/Journal3Ty.pdf">Software</a></h3>
			<iframe src="journals/journal3ty.pdf"  type="application/pdf"></iframe>
			<h3><a href="https://docs.google.com/document/d/e/2PACX-1vSgLIyZBFtN04lhUqjWmZnM3w9RK8Eb-7YP8aK2Ip35-Zm2x2LO3BEwVu15kxkSI7PC3-rK7JzrAO2S/pub">Hardware</a></h3>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vSgLIyZBFtN04lhUqjWmZnM3w9RK8Eb-7YP8aK2Ip35-Zm2x2LO3BEwVu15kxkSI7PC3-rK7JzrAO2S/pub?embedded=true"></iframe>
			<br />
			<h2>Journal II: Weeks 5-7</h2>
			<h3><a href="journals/Journal2Ty.pdf">Software</a></h3>
			<iframe src="journals/Journal2Ty.pdf"  type="application/pdf"></iframe>
			<h3><a href="https://docs.google.com/document/d/e/2PACX-1vSjzhOUZ1nQJzxbCTvlyffdgZ6qjalH4DCq_yQEiqVW3nEjbskT0zF-T5sR6KL0X1fFWZrtrDak9YIH/pub">Hardware</a></h3>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vSjzhOUZ1nQJzxbCTvlyffdgZ6qjalH4DCq_yQEiqVW3nEjbskT0zF-T5sR6KL0X1fFWZrtrDak9YIH/pub?embedded=true"></iframe>
			<br / >
			<h2>Journal I: Weeks 1-4</h2>
			<h3><a href="https://docs.google.com/document/d/e/2PACX-1vRFx8sbPAWUc5qZVaN8cuii8neosK_MyTGqQMpfvBR5TMdok5DRFd4VMXA4kf_AOPgyRu_fVzi1q0pT/pub">Hardware</a></h3>
			<iframe src="https://docs.google.com/document/d/e/2PACX-1vRFx8sbPAWUc5qZVaN8cuii8neosK_MyTGqQMpfvBR5TMdok5DRFd4VMXA4kf_AOPgyRu_fVzi1q0pT/pub?embedded=true"></iframe>
			<h3><a href="journals/Journal1Ty.pdf">Software</a></h3>
			<iframe src="journals/Journal1Ty.pdf"  type="application/pdf"></iframe>
			<br />
			<h2>Initial Project Proposals</h2>
			<h3><a href="journals/grant-initial-proposal.pdf">Hardware (Grant)</a></h3>
			<iframe src="journals/grant-initial-proposal.pdf"></iframe>
			<h3><a href="journals/ty-initial-proposal.pdf">Software (Ty)</a></h3>
			<iframe src="journals/ty-initial-proposal.pdf"  type="application/pdf"></iframe>
		</main>

		{% include "templates/footer.html" %}
	</body>
</html>
