<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="description" content="Timeline for the CalcVox project">
		{% include "templates/meta.html" %}
		<title>CalcVox - Project Timeline</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Timeline</h1>
			<p>Below is a predicted timeline for the rest of our project. We will update it with what we get finished with</p>
			{% include "templates/timeline.html" %}
		</main>
		{% include "templates/footer.html" %}
	</body>
</html>
