<!DOCTYPE html>
<html llang="en-US">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="assets/favicon.ico" />
		<meta charset="utf-8" />
		<Title>Videos</title>
	</head>

	<body>
		{% include "templates/header.html" %}
		<main>
			<h1>Build Logs</h1>
			<h2><a href="https://youtu.be/ud5aBUQGTjI">First Audio Tests - 10/25/23</a></h2>
			<p>Just some trial and error while working with an audio output.</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ud5aBUQGTjI?si=BJe-DFfRrkE4oibY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</main>
		{% include "templates/footer.html" %}
	</body>
</html>
