<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Dates</th>
      <th>Ty</th>
      <th></th>
      <th>.1</th>
      <th>Grant</th>
      <th>.2</th>
      <th>.3</th>
      <th>.4</th>
      <th>.5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Week 1 (3)</td>
      <td>Install the Arduino CLI on Windows and Mac.</td>
      <td>Install any needed C/C++ tooling</td>
      <td>Bootstrap the GitHub repository.</td>
      <td>Initial physical development prototype</td>
      <td>Test ESP32's to ensure they work</td>
      <td>Research audio output on ESP32 with the internal DAC</td>
      <td>Experiment with a speaker for basic audio output tests</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 2 (2)</td>
      <td>Get AudioTools for Arduino to build.</td>
      <td>Build Espeak for Arduino and try to test it.</td>
      <td></td>
      <td></td>
      <td>Research how button matrices with microcontrollers need to be implemented on the circuit level</td>
      <td>Start with breadboard experimentation of button matrices and confirm that it works</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 3 (3)</td>
      <td>Fine-tune Espeak settings for optimal output of math content.</td>
      <td>Write a text_to_speech provider class that wraps Espeak in a very friendly way.</td>
      <td>Start writing an outline for the math handler.</td>
      <td></td>
      <td>Begin creation of full prototype on breadboard</td>
      <td>Finish, test, and modify breadboard prototype</td>
      <td>Make breadboard prototype on protoboard soldered to make it able to be used for software development</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 4 (2)</td>
      <td>Finish the math handler outline.</td>
      <td>Write a basic button mapper that allows for mapping of buttons to C++ functions.</td>
      <td></td>
      <td></td>
      <td>Test new prototype button input and speaker output</td>
      <td>Create initial low level software for interfacing with the calculator program</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 5 (2)</td>
      <td>Try to deploy the code to the prototype.</td>
      <td>Tune the code to make it properly work given the limited resources available.</td>
      <td></td>
      <td></td>
      <td>Start with soldering and assembling prototype</td>
      <td>Create a general sketch of the final product with button locations divided into groups</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 6 (4, thanksgiving break)</td>
      <td>Write a configuration system that allows for key remapping.</td>
      <td>Add many more math functions.</td>
      <td></td>
      <td>Create circuit design for full size prototype</td>
      <td>Learn about creating schematics for devices and the software required</td>
      <td>Continue Learning about Schematics software</td>
      <td>Start a creation of the schematic of the board</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 7 (2)</td>
      <td>Automate usage of the Arduino CLI for accessible deployment.</td>
      <td>Clean up the code.</td>
      <td></td>
      <td></td>
      <td>Finish schematic including documentation</td>
      <td>Build schematic on breadboard</td>
      <td>Test all inputs and outputs to ensure they work</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 8 (2)</td>
      <td>Deploy code to the prototype.</td>
      <td>Test the code on the hardware again.</td>
      <td></td>
      <td></td>
      <td>Modify schematic design</td>
      <td>Create initial software for interpreting button presses</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 9 (3)</td>
      <td>Finish the basic mathematical functions (e.g. addition, multiplication, etc).</td>
      <td>Begin researching more advanced mathematical functions (starting with trigonometry).</td>
      <td>Start work on a basic sine wave generator for generating graphs.</td>
      <td></td>
      <td>Test interoperability with calculator software</td>
      <td>Research PCB Creation</td>
      <td>Convert Schematic to PCB and order PCB and Components</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 10 (3)</td>
      <td>Write code for many more math functions.</td>
      <td>Perfect the sign wave generator.</td>
      <td></td>
      <td>Create Case Design</td>
      <td>Research basics of solidworks</td>
      <td>Continue learning solidworks</td>
      <td>Finish learning solidworks</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 11 (2)</td>
      <td>Continue improving the config provider, making remapping keys easier and possibly allowing for text-to-speech configuration.</td>
      <td>Continue tuning Espeak settings for optimal math reading.</td>
      <td></td>
      <td></td>
      <td>Make a practice part to learn how to use solidworks</td>
      <td>Sketch out 2d view of calculator</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 12 (2)</td>
      <td>Improve upon trigonometric functions.</td>
      <td>More code cleanup.</td>
      <td></td>
      <td></td>
      <td>Make a prototype case with pcb, battery, and other components to ensure it fits</td>
      <td>Print out test to see if there are any mistakes to fix</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 13 (2)</td>
      <td>Test the code on the hardware again.</td>
      <td>Work more on the mathematical functions.</td>
      <td></td>
      <td></td>
      <td>Test assemble the part</td>
      <td>Finish part assembly</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 14 (2)</td>
      <td>Explore audio effects such as EQ for enhancing speech quality.</td>
      <td>Implement more math functions.</td>
      <td></td>
      <td>Create buttons</td>
      <td>Research ways to use button design to communicate function with braille</td>
      <td>Create and print test braille in solidworks</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 15 (3)</td>
      <td>Implement necessary fixes for battery life.</td>
      <td>Fix any bugs in the implementation of math functions.</td>
      <td></td>
      <td></td>
      <td>Refine design of braille</td>
      <td>Create buttons with different shapes and test how well they fit on buttons and in the case</td>
      <td>Refine buttons design and fit</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 16 (2)</td>
      <td>More bug fixing.</td>
      <td>Use my sign wave generator to give the buttons even more feedback.</td>
      <td></td>
      <td></td>
      <td>Solder and assemble the ordered PCB with required components</td>
      <td>Finish assembly</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 17 (3)</td>
      <td>Fix anything necessary to make the code work on the protype.</td>
      <td>Optimize the code by removing unnecessary dynamic memory allocations and inlining loops.</td>
      <td></td>
      <td>Create functional prototype</td>
      <td>Modify software to run on new prototype</td>
      <td>Identify issues with it and fix low level software if needed</td>
      <td>Test calculator to ensure high build quality</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 18 (2)</td>
      <td>Polish the code.</td>
      <td>Test final code on the prototype.</td>
      <td></td>
      <td></td>
      <td>Print out case and buttons and assemble</td>
      <td>sand anything that doesn't go together</td>
      <td>Start presentation</td>
      <td></td>
    </tr>
    <tr>
      <td>Week 19 (3)</td>
      <td>Make any necessary optimizations for battery life.</td>
      <td>Begin work on presentation.</td>
      <td></td>
      <td></td>
      <td>Test battery life and fix as needed</td>
      <td>Continue presentation</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Week 20 (2)</td>
      <td>Make the table board.</td>
      <td>Finish presentation</td>
      <td>Polish website for public viewing.</td>
      <td></td>
      <td>Finish documentation for servicing</td>
      <td>finish presentation and poster board</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Stretch Goals</td>
      <td>Replace arrows with 3DS Circle Pad to navigate. Would require both hardware and software changes to be implemented. This would allow better control of the graphing utilities</td>
      <td></td>
      <td></td>
      <td>Replace arrows with 3DS Circle Pad to navigate. Would require both hardware and software changes to be implemented. This would allow better control of the graphing utilities</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>